[submodule "Kasumi/vendor/spdlog"]
	path = Kasumi/vendor/spdlog
	url = http://github.com/gabime/spdlog
[submodule "Kasumi/vendor/GLFW"]
	path = Kasumi/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Kasumi/vendor/imgui"]
	path = Kasumi/vendor/imgui
	url = https://github.com/TheCherno/imgui
